:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-bg-color: rgba(47, 48, 58, 1);
}

body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list .title {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.page-header {
  background-color: var(--primary-white-color);
  outline: 3px solid red;
}
.web-label {
  text-decoration: none;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.studio-label {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
/* .site-nav .item-nav {
  outline: 1px solid red;

  /* margin-right: 50px; */

/* .site-nav .item-nav:last-child {
  margin-right: 0;
} */
/* .site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item-nav + .item-nav {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
}
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Contacts-nav */
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item-nav + .item-nav {
  margin-left: 50px;
}

.contacts-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* Hero */
.hero {
  text-align: center;
  background-color: var(--secondary-bg-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 200px;
}
.container.hero {
  background-color: #2f303a;
  text-align: center;

  height: 600px;
  margin: 0 auto;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  padding-top: 94px;
}
/* Features */
.features-list {
  display: flex;
  justify-content: center;
}
.features-list .feature {
  width: 270px;
}
.features-list .feature + .feature {
  margin-left: 30px;
}
.features-list .title {
  margin: 0;
  padding-top: 94px;
  font-weight: 700;
  line-height: 1.14;
}
.features-list .text {
  font-weight: 400;
  line-height: 1.71;
  margin: 0;
  margin-top: 10px;
}
/* .features-list > .feature:nth-child(2n + 1) {
  background-color: tomato;
} */
/* Works */
.work-list {
  display: flex;
}
.work-list > .work-item {
  padding-bottom: 94px;
  margin-right: 30px;
  width: 370px;
}
.work-item:nth-child(3) {
  margin-right: 0;
}
/* Team */
.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.person {
  margin-right: 30px;
  margin-bottom: 94px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person:last-child {
  margin-right: 0;
}
.team-list .teammate {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-top: 30px;
}
.team-list .job-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 30px;
}
.data {
  text-align: center;
}
/* Button */
.button {
  min-width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  font-family: inherit;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 200px;
}
.button.primary {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  text-align: center;
  align-items: center;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  height: 252px;
  padding-top: 60px;
}
.label-footer {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
}
.address.text {
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 1.71;
  margin-top: 20px;
}

.address .street {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.address .street:hover,
.address .street:focus {
  color: var(--accent-color);
}
.address .connect {
  color: var(--rgba-color);
  text-decoration: none;
}
.address .connect:hover,
.address .connect:focus {
  color: var(--accent-color);
}
.location .place,
.location .email {
  margin-bottom: 9px;
}
.location .phone {
  padding-bottom: 50px;
}
